################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AspNetFileNicluder/bin
/AspNetFileNicluder/obj
/FastApp/bin
/FastApp/obj
/UnitTest/bin
/UnitTest/obj
/UnitTest/TestFiles/CostumDb/0
/packages
